<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create a Room</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <main>
      <form>
        <h4 id="room_id"></h4>
        <button id="create_room" class="btn">Create Room room</button>
      </form>
      <!-- <form action="/redirect_home" method="post">
        <button type="submit" class="btn green">Next</button>
      </form> -->
      <button id="Start_timer" type="submit" class="btn green">
        Start Time
      </button>
    </main>

    <script type="module" src="../js/host.js"></script>
  </body>
</html>
